*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.fav_country:active{
 color: red;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 50px;
}

#login_id{
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  width: 50%;
}